.calendar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px 35px 0px 35px;
  background: #1a1a1a;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-auto-rows: 1fr;
  flex-grow: 1;
  margin-bottom: 40px;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 1px;
  flex-shrink: 0;
}

.button-get-month {
  width: 300px;
  height: 40px;
  font-size: 1em;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}

.button-get-month:hover {
  color: #535bf2;
}

.button-select-month {
  padding: 5px 30px 7px 30px;
  font-size: 1em;
  font-family: inherit;
  text-align: center;
  background: rgb(75, 26, 116);
}

.calendar-day-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  border-radius: 2px;
  background: rgb(75, 26, 116);
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  padding: 5px;
  border-radius: 2px;
  background: rgb(108, 56, 150);
  color: white;
}

.calendar-day.inactive {
  background: rgba(108, 56, 150, 0.616);
  color: rgba(0, 0, 0, 0.329);
}

@media (max-width: 524px) {
  .button-get-month {
    width: 150px;
    font-size: 0.7em;
  }
}

@media (max-width: 480px) {
  .calendar-container {
    padding: 0;
  }
}
